/* index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

li {
  font-family: 'Teko', sans-serif;
}

text4footer {
  font-family: 'Teko', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
}

li {
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    font-size: 18px;


    @apply flex list-none
}

body {
  background-color: #101114;
}